/* Header */
.head{

  height: 100px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(10, 16, 30, 0.9);
  

}
.bg{
  background: url('/hero-bg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}
/* navigation bar */
.nav{
  width: 80vw;
  height: 100px;
  
  display: flex;
}

  
.left{
  width: 25%;
  
  height: 100%;
  display: flex ;
  align-items: center;
  justify-content:center ;
  
  
}
.right{
  width: 65%;
  height: 100%;
  
  margin-left: 10%;
  display: flex ;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}
.navbtn{
  height: 50px;
  width: 110px;
 border:none;
  margin: 20px;
color: rgb(254, 197, 68);
  border-radius: 100px;
  background-color: rgba(10, 16, 30, 0.9);
  font-size: 20px;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}
.navbtn:hover{
  color: rgba(255, 255, 255, 0.8);
  transition: 0.3s ease;
}
/* Home Page */
.hero{
  width: 100vw;
  height: 120vh;
  
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.heroLeft{
  display: flex;
  overflow: hidden;
  justify-content: center;
}


@keyframes slide-in-left {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.heroImg {
  box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.2);
 
  border-radius: 100px;
    margin-top: 10px;
   object-fit: cover;
  animation: slide-in-left 2s ease-in-out;
}
.heroRight{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30%;
}
@keyframes slide-in-up {
  0% {
    transform: translateY(400%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.first{
   color: white;
  animation: slide-in-up 2s ease-in-out;
   
}
.second{
  font-size: 100px;
  color: rgb(254, 197, 68);
  animation: slide-in-up 2s ease-in-out;

}
.third{
  opacity: 0.5;
  font-size: 30px;
  animation: slide-in-up 2s ease-in-out;
}

.hireMe{
  width: 180px;
  height: 80px;
  margin-top: 100px;
  border-radius: 100px;
  border: none;
  background-color: rgb(254, 197, 68, 1);
  color: rgb(10, 16, 30);
  font-size: 20px;
  backdrop-filter: blur(10px);
  transition: 0.3s ease-in-out;
}
.hireMe:hover{
 color: rgb(254, 197, 68, 1);
  background-color: rgb(10, 16, 30);
}

/* Projects page */

.projectsParent{
  
  width: 100vw;
  height: 120vh;
  display: grid;
 grid-template-rows: 1fr 4fr;
}
.projectsHeading{

  height: 100px;
  align-self: center;
}
@keyframes heading {
  0% {
      opacity: 0;
      transform: translateX(100%);
    }
  
    100% {
      opacity: 1;
      transform: translateX(-100%);
    }
  
}
/* #heading{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  font-family: 'Trebuchet MS' ;
  font-weight: 900;
 animation: heading 10s ease-in-out infinite forwards ;
 
  
}
.projects{
  height: auto;
  width: 100vw;
  
  display: flex;
  align-items: center;
  justify-content: center;
}
.projectInner{
  width: 80%;
  height: 100%;
 border-radius: 40px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  
}
.cards{
  height: 350px;
  width: 550px;
  border: 2px solid black;
  background-color: white;
  border-radius: 50px;
  box-shadow:
      0 4px 8px 0 rgba(255, 255, 255, 0.3);
    transition: 0.3s;

}
.cards:hover{
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2);
  scale: 1.05;
} */
/* about page */
.aboutGrid{
  display: grid;
  
  height: 110vh;
  background-color: #0a101e;
}
.heroAbout{
 
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutHeading{
 font-size: 60px;
 position: relative;
 color: #192030;
 

}
.aboutHeading::before{
  content: 'ABOUT ME';
  position: absolute;
  font-size: 30px;
  color: rgb(254, 197, 68, 1);
 margin-left: 25%;
text-decoration: underline;


}
.aboutParent{
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.aboutDetails{
  width: 80vw;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.aboutPic{
  background-image: url(/hero.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.aboutData{
  margin-left: 50px;
}


.aboutData h2{
  height: 50px;
  
  font-weight: 200;
  font-family:monospace;
  
}

.aboutData  :nth-child(2){
  font-size: 30px;
  color: rgb(254, 197, 68, 1);
  font-weight: 100;

}
.aboutData p {
  font-size: 20px;
  opacity: 0.8;
  padding-top: 24px;
}

.projectGrid{
  display: grid;
  
    height: 150vh;
    background-color: #0a101e;
}
.projectHero {

  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projectHeading {
  font-size: 100px;
  position: relative;
  color: #192030;


}


.projectHeading::before {
  content: 'PORTFOLIO';
  position: absolute;
  font-size: 50px;
  color: rgb(254, 197, 68, 1);
  margin-left: 25%;
  font-weight: 200;
  text-decoration: underline;

}

.projects {
  height: auto;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

.projectInner {
  width: 80%;
  height: 100%;
  border-radius: 40px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;

}

.cards {
  height: 350px;
  width: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  border: 2px solid black;
  background-color: rgb(254, 197, 68, 1);;
  border-radius: 50px;
  box-shadow:
    0 4px 8px 0 rgba(255, 255, 255, 0.3);
  transition: 0.3s;

}

.cards:hover {
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2);
  scale: 1.05;
}



/* Footer */
.footer{
  height: 100px;
  background-color:rgb(254, 197, 68 , 0.6);
  display: flex;
  
  
}
.credit{
width: 25%;
height: 100px;
color: rgb(10, 16, 30);
display: flex;
justify-content: center;
align-items: center;
}
.rights{
width: 25%;
height: 100px;
font-size: 16px;
display: flex;
  justify-content: center;
  align-items: center;
}
.socialMedia{
  width: 50%;
  height: 100px;
  display: flex;
  
  padding: 20px;
    justify-content: space-around;
    align-items: center;
}

/* Responsive */

@media (max-width: 1280px) {
  .projectInner{
    grid-template-columns: 0;
    margin-left: 50%;
  }
  .projectGrid{
    height: 100%;
  }
  .cards{
    width: 300px;
    height: 300px;
  }
  
}
@media (max-width: 1000px) {
  .heroImg {
    display: none;
  }

  .hero {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 870px) {
  .nav {
    display: grid;
    grid-template-rows: 1fr 1fr;


  }

  .head {
    height: 400px;
    align-items: start;
  }

  .left {
    justify-self: center;
  }

  .right nav {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .aboutDetails {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .aboutGrid {
    height: 250vh;
  }

  .aboutData {
    margin-left: 0;
  }

  .aboutData h2 {
    font-size: 20px;
  }

  .aboutPic {
    height: 80%;
  }
  .credit{
    font-size: 10px;
    margin-left: 5px;
  }
}